.section-title {
  font-size: 1.2em;
  margin-bottom: 2em;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.footer-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 1.1em;
}

@media all and (min-width: $small-breakpoint) {
  .section-title {
    font-size: 1.5em;
  }
}

@media all and (min-width: $medium-breakpoint) {
  .section-title {
    font-size: 2.2em;
    margin-bottom: 1.5em;
  }

  .footer-title {
    margin-bottom: 1.8em;
  }
}
