.section-title {
  font-size: 1.2em;
  margin-bottom: 1em;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;

  @media all and (min-width: $small-breakpoint) {
    font-size: 1.5em;
    margin-bottom: 1.3em;
  }

  @media all and (min-width: $medium-breakpoint) {
    font-size: 2.2em;
  }
}
