* {
  box-sizing: border-box;
}

body {
  background-color: $main-bg-color;
}

a {
  text-decoration: none;
}

.center {
  text-align: center;
}

.paragraph {
  color: $alt-text-color;
  margin: 0.5em 0;
  line-height: 1.3;
}
